@font-face {
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/alegreya/v35/4UaSrEBBsBhlBjvfkSLk3abBFkvpkARTPlbgv5qhmSA.ttf) format('truetype');
}
@font-face {
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/alegreya/v35/4UaSrEBBsBhlBjvfkSLk3abBFkvpkARTPlYHuJqhmSA.ttf) format('truetype');
}
@font-face {
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(fonts/alegreya/v35/4UaSrEBBsBhlBjvfkSLk3abBFkvpkARTPlZguJqhmSA.ttf) format('truetype');
}
@font-face {
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(fonts/alegreya/v35/4UaSrEBBsBhlBjvfkSLk3abBFkvpkARTPlZJuJqhmSA.ttf) format('truetype');
}
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/alegreya/v35/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNG9hU4-6qm.ttf) format('truetype');
}
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/alegreya/v35/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGERI4-6qm.ttf) format('truetype');
}
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(fonts/alegreya/v35/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGdhI4-6qm.ttf) format('truetype');
}
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(fonts/alegreya/v35/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGXxI4-6qm.ttf) format('truetype');
}

@font-face {
    font-family: 'Piazolla';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(fonts/ofont.ru_Piazzolla.ttf) format('truetype');
}

.header-top{
    top: -50px !important;
    
}

.background-white {
    background-color: white;
}
.background-light-grey {
    background-color: #e8e8e8;
}

.font-menu-header {
    font-family: "Alegreya";
    font-weight: 400;
}
.header-image-col {
    max-height: 210px;
}
.header-img {
    transition: 0.2s;
    object-fit: cover;
    max-height: 200px;
}

.icon {
    object-fit: cover;
    width: 100%;
    max-width: 30px;
    min-width: 30px;
    top: 10%;
    transition: 0.2s;
    }

.list-group-item{
    color: black;
}

.list-group-item:hover {
    cursor: pointer;

}
.link-ease-in-out a {
    display: inline-block;
    color: black; /* Цвет обычной ссылки */
    line-height: 2;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
    font-family: Piazolla;
}
.link-ease-in-out a:after {
    display: block;
    content: "";
    height: 1px; /* Высота линии */
    width: 0%;
    background-color: #9a744d;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.link-ease-in-out a:hover:after,
.link-ease-in-out a:focus:after {
    width: 100%;
}

.card-custom{
    max-width: 18rem;
}

.img-main {
    object-fit: cover;
    max-height: 10rem;
}

.footer-menu{
    display: inline-block;
    color: #9a744d; /* Цвет обычной ссылки */
    line-height: 2;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
    font-family: Piazolla;
    font-size: small;
}

.font-piazolla {
    font-family: Piazolla;
}

.footer-menu:hover {
    color: #d09969; /* Цвет обычной ссылки */

}

/* SHOP */


.shop-card {
    width: 48%;
    transition: 0.2s;
}

.img-shop {
    object-fit: cover;
    max-height: 300px;
    transition: 0.2s;

}

.img-shop:hover{
    filter: brightness(0.5);
    cursor: pointer;
}

.card-text {
    font-family: Piazolla;
    text-align: left;
}

.shop-filter-text {
    font-family: Piazolla;
    text-align: left;
}

.filter-button{
    border: none;
    background:none;
}

.filter-button:hover {
    color: #cb0000;

}

/* PRODUCT */

.img-product {
    object-fit: cover;
    width: 100%;
    max-height: 550px;
}

.select-product{
    font-family: Piazolla;
    border-color: black !important;
}

.select-product:focus {
    border-color: #000000 !important;
    box-shadow: none !important;
    transition: 0.2s;
    
}

.product-title-text {
    font-family: Piazolla;
    text-align: left;
}

.btn-submit {
    width: 60% !important;
}

.btn-product {
    flex: 0 1 auto !important;
    border-color: #000000 !important;
}

.btn-group-product{
    width: 30% !important;
}

/* Cart */ 

.cart-text {
    font-family: Piazolla;
    text-align: left;
}

.btn-cart {
    background: none;
    border: none;
}

.btn-cart-img{
    width: 100%;
    max-height: 20px;
    min-height: 20px;
    object-fit: cover;
}
